.menu-navbar-container {
  top: 0;
  width: 100vw;
  height: 4rem;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .menu-navbar-brand {

    color: #000000;
    cursor: pointer;

    font-size: 2rem;
    margin: 0.5rem 1rem;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    height: 4rem;
  }

  .menu-navbar-item-container {
    width: auto;

    &:last-child {
      margin: 0 1rem 0 0;
    }
  }
}

#addCourse {
  // border-radius: 5px;
  justify-items: center;
  padding: 10px 10px;
  
} 

#Menu {
  // border-radius: 5px;
  justify-items: center;
  padding: 10px 30px;
  letter-spacing: 0;
  // background-color: #ffffff;

}

#Menu:hover,
#Menu:active {
letter-spacing: 0px;
}

#Menu:after,
#Menu:before {
backface-visibility: hidden;
border: 1px solid rgba(#fff, 0);
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: absolute;
transition: all 280ms ease-in-out;
width: 0;
}

#Menu:hover:after,
#Menu:hover:before {
backface-visibility: hidden;
// border-color: #fff;
// transition: width 350ms ease-in-out;
width: 20%;
}

#Menu:hover:before {
bottom: auto;
top: 0;
width: 20%;
}

#addCourse:hover,
#addCourse:active {
letter-spacing: 0px;
}

#addCourse:after,
#addCourse:before {
backface-visibility: hidden;
border: 1px solid rgba(#fff, 0);
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: absolute;
transition: all 280ms ease-in-out;
width: 0;
}

#addCourse:hover:after,
#addCourse:hover:before {
backface-visibility: hidden;
// border-color: #fff;
// transition: width 350ms ease-in-out;
width: 20%;
}

#addCourse:hover:before {
bottom: auto;
top: 0;
width: 20%;
}