.edit-attendance-form-container {
  padding: 30px;
  margin: 30px;
  border: 1px solid #bbbbbb;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem 0.5rem rgba(70, 70, 70, 0.8);

  .edit-attendance-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .date-options {
      display: none;
    }

    .date-options::-ms-expand {
      display: none;
    }
  }
}
