.student-review-table-container {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 800px;
  min-height: 20vh;
  max-height: 70vh;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 40px 0;
  padding: 0;
  // border: 1px solid #e9e9e9;
  // border-radius: 8px;
  // box-shadow: 0 0 2rem 0 rgba(70, 70, 70, 0.8);

  &::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 14px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #007aff;
    border-radius: 14px;
  }
}

