.student-attendance-review-table-container {
  width: 100vw;
  height: fit-content;
  overflow: hidden;

  .student-attendance-review-table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .absent-student-table-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 500px;
      max-width: 600px;
      height: 75vh;
      border: 1px solid transparent;
      border-radius: 8px;
      box-shadow: 0 0 1rem 0 rgba(70, 70, 70, 0.8);
      margin: 10px;

      .table-header {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.1ch;
        margin: 10px 0;
        text-align: center;
        color: rgba(53, 53, 53, 0.8);
      }

      .absent-student-table {
        border-radius: 4px;
        border: 1.5px solid #bdbdbd;
        min-width: 480px;
        max-width: 580px;
        height: 80vh;
        overflow: scroll;
        overflow-x: auto;
        overflow-y: auto;
        margin-bottom: 10px;

        &::-webkit-scrollbar {
          width: 0.35rem;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 14px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(255, 0, 0, 0.5);
          border-radius: 14px;
        }
      }
    }

    .present-student-table-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 500px;
      max-width: 600px;
      height: 75vh;
      border: 1px solid transparent;
      border-radius: 8px;
      box-shadow: 0 0 1rem 0 rgba(70, 70, 70, 0.8);
      margin: 10px;

      .table-header {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.1ch;
        margin: 10px 0;
        text-align: center;
        color: rgba(53, 53, 53, 0.8);
      }

      .present-student-table {
        border-radius: 4px;
        border: 1.5px solid #bdbdbd;
        min-width: 480px;
        max-width: 580px;
        height: 80vh;
        margin-bottom: 10px;
        overflow: scroll;
        overflow-x: auto;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.35rem;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
          border-radius: 14px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(0, 165, 0, 0.5);
          border-radius: 14px;
        }
      }
    }
  }

  .confirm-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .confirm-button-placement {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media all and (max-width: 767px) {
  .student-attendance-review-table-container {
    .student-attendance-review-table {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;

      .present-student-table-container {
        width: 95vw;
        height: 40vh;

        .present-student-table {
          width: 95%;
        }
      }

      .absent-student-table-container {
        width: 95vw;
        height: 40vh;

        .absent-student-table {
          width: 95%;
        }
      }
    }
  }
}
